<!---->
<script src="login.js" defer></script>
<!---->

<!-- <app-header></app-header> -->

<div class="body">
<div class="container-form">
    <div class="information">
        <div class="info-childs">
            <h2>Bienvenido</h2>
            <p>Si aun no tienes una cuenta por favor registrese aquí</p>
            <a routerLink="/auth/register">
                <button>Registrarme</button>
            </a>
        </div>
    </div>
    <div id="login-form" class="form-information">
        <div class="form-information-childs">
            <h2>Iniciar Sesion</h2>
            <p>Inicia Sesion con una cuenta</p>

            <form class="form"
            [formGroup]="myForm" (ngSubmit)="login()">
                <label>
                    <i class='bx bx-envelope' ></i>
                    <input type="email" placeholder="Correo Electronico" formControlName="email">
                    <!-- *ngIf="correoNovalid" -->
                    <div class="alerta" *ngIf="correoNovalid">
                        <i class='bx bx-error-circle bx-tada bx-rotate-90' style='color:#9a0707'></i>
                    </div>
                </label>
                <label>
                    <i class='bx bx-lock-alt' ></i>
                    <input type="password" placeholder="Contraseña" formControlName="password">
                    <!-- *ngIf="contrasenaNovalid" -->
                    <div class="alerta" *ngIf="contrasenaNovalid">
                        <i class='bx bx-error-circle bx-tada bx-rotate-90' style='color:#9a0707'></i>
                    </div>
                </label>
                <button class="submit">Ingresar</button>
                <p class="error escondido">Error al iniciar sesión</p>
            </form>
        </div>
    </div>
</div>
</div>
