<!---->
<script src="login.js" defer></script>
<!---->

<!-- <app-header></app-header> -->

<div class="body">
<div class="container-form">
    <div class="information">
        <div class="info-childs">
            <h2>Bienvenido</h2>
            <p>Si aun no tienes una cuenta por favor registrese aquí</p>
            <a routerLink="/auth/register">
                <button>Registrarme</button>
            </a>
        </div>
    </div>
    <div id="login-form" class="form-information">
        <div class="form-information-childs">
            <h2>Iniciar Sesion</h2>
            <p>Inicia Sesion con una cuenta</p>

            <form class="form"
            [formGroup]="myForm" >
                <label>
                    <i class='bx bx-envelope' ></i>
                    <input type="email" placeholder="Correo Electronico" formControlName="email">
                    <!-- *ngIf="correoNovalid" -->
                    <div class="alerta" *ngIf="correoNovalid">
                        <i class='bx bx-error-circle bx-tada bx-rotate-90' style='color:#9a0707'></i>
                    </div>
                </label>
                <label>
                    <i class='bx bx-lock-alt' ></i>
                    <input type="password" placeholder="Contraseña" formControlName="password">
                    <!-- *ngIf="contrasenaNovalid" -->
                    <div class="alerta" *ngIf="contrasenaNovalid">
                        <i class='bx bx-error-circle bx-tada bx-rotate-90' style='color:#9a0707'></i>
                    </div>
                </label>
                <button class="submit" (click)="login()">Ingresar</button>
                <!-- <p class="error escondido">Error al iniciar sesión</p> -->
            </form>            
        </div>
    </div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1"         aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="errorauth">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Error</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Tu contraseña es incorrrecta o aun no estas registrado
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" routerLink="/auth/register" data-bs-dismiss="modal">Registrarse</button>
            </div>
        </div>
    </div>
</div>
