video{
    width: 98%;
    margin: 1%;
    margin-top: 5%;
    z-index: 1;
}

.galery{
    /*display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;     */
    display: grid;
    grid-template-columns: repeat(0, 1fr);
    gap: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}