<!---->
<script src="home.js" defer></script>
<!---->

<app-header></app-header>

<video loop autoplay class="back-video">    
    <source src="../../../../assets/videohome1.mp4" type="video/mp4">    
</video>

<h3>Lo más vendido</h3>
<div class="body">
    <div class="galery"> 
        <app-destacados [dataEntrante]="detalleProducto" *ngFor="let detalleProducto of listaProductos"></app-destacados>
    </div>
</div>


<!--Borrar-->
<!-- <script src="admin.js" defer></script> -->
<!---->
<!-- <div class="container-form">
    <h2>Bienvenido al Home</h2>
    <button routerLink="/auth/login">Cerrar sesión</button>
</div>
    <button>Cerrar sesión</button>
</div> -->
