<!---->
<script src="home.js" defer></script>
<!---->

<app-header></app-header>

<!-- <div class="container">
    <video loop autoplay class="back-video">    
        <source src="../../../../assets/videohome1.mp4" type="video/mp4">    
    </video>
    
    <a routerLink="/auth/login" class="link">Productos</a>
</div> -->

<video loop autoplay class="back-video">    
    <source src="../../../../assets/videohome1.mp4" type="video/mp4">    
</video>

<a routerLink="/products" class="link">Productos</a>



<hr>
<h3>Lo más vendido</h3>
<hr>

<app-destacados></app-destacados>

<hr>

<app-footer></app-footer>

<!--Borrar-->
<!-- <script src="admin.js" defer></script> -->
<!---->
<!-- <div class="container-form">
    <h2>Bienvenido al Home</h2>
    <button routerLink="/auth/login">Cerrar sesión</button>
</div>
    <button>Cerrar sesión</button>
</div> -->
