<header>
  <nav (scroll)="onscroll()" [ngClass]="{'navbarup':up,'navbardown':!up}">
    <a [ngClass]="{'logoup':up,'logodown':!up}" routerLink="/">CREATE SHOP</a>
    <ul>
      <li><a [ngClass]="{'linkup':up,'linkdown':!up}" href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
      <li><a [ngClass]="{'linkup':up,'linkdown':!up}" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
      <li><a [ngClass]="{'linkup':up,'linkdown':!up}" routerLink='auth/login'><i class="fa-solid fa-user"></i></a></li>
    </ul>
  </nav>
</header>
