.fondo{
    background-color: rgb(241, 241, 241);
    margin: 12px;
    border-radius: 10px;
    display: flexbox;
}

.modal-container {
    position: fixed; /* sobre la página */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto; /* añade desplazamiento si el contenido es demasiado grande */
    justify-content: center;
    padding: 1rem;
    justify-content: space-around;
    z-index: 10
  }

  .modal-container h4 {
    /*font-family: Arial, Helvetica, sans-serif; /* Cambia la fuente del h2 */
    font-size: 24px; /* Tamaño de la fuente del h2 */
    font-weight: bold;
    color: rgb(110, 110, 110);
}