<meta charset="UTF-8">

<title>Correo electrónico</title>

<div class="modal-container">
    <form [formGroup]="datos">
        <div class="row justify-content-center">
            <div class="col-lg-20 fondo">
                <div class="p-2">
                    <button style="float: right;" class="btn btn-light" (click)="closeModal()">X</button><!--Cerrar ventana-->
                </div>
                <h4 class="text-center p-2">Datos del usuario</h4>
                
                <input type="email" placeholder="Correo" class="form-control mb-2" formControlName="correo">
                <input type="text" placeholder="asunto" class="form-control mb-2" formControlName="asunto">
                <textarea class="form-control mb-2" placeholder="Dirección de entrega" cols="40" rows="4"></textarea>
                <div><p class="form-control mb-2" placeholder="mensaje" cols="40" rows="6" formControlName="mensaje">Resumen del pedido del cliente</p></div>
    
                <div class="text-center p-2">
                    <button class="btn btn-dark" (click)="envioCorreo()">Confirmar</button>
                </div>
            </div>
        </div>
    </form>
</div>

