.productCart-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
.productCart{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.product-body{
    flex-basis: 50%;
}
.productCart-total{
    flex-basis: 20%;
}
.productCart-buttons{
    flex-basis: 30%;
}
.product-body-info{
    display: flex;
    gap: 1rem;
}
.productCart-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.productCart-buttons-operators{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.productCart-buttons-operators span {
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.cartTotal{
    padding: 1rem;
}
.cartTotal-total{
    font-size: 1.2rem;
    font-weight: bold;
}
.cart-btn{
    width: 50%;
    align-self: center;
    border: none;
    border-radius: 0.25rem;
    margin: 0.75rem 0;
    background-color: #030301;
    color: #fff;
    cursor: pointer;
    padding: 1rem;
}

/*Ventana email*/
.email{
    display: none;/*No mostrar ventana hasta dar click al boton ir a pagar*/
    
}

.show{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    /*background-color: rgba(255, 255, 255, 0.5);*/
    border-radius: 0.5rem;
    /*border: 1px solid rgb(255, 255, 255);*/
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /*Ajusta la posición al centro exacto */
    width: 70%;
    height: 90%;
}

.email-inner {
    background-color: #fff;
    border-radius: 0.5rem;
    border: 1px solid rgb(218, 218, 218);
    padding: 2rem;
    max-width: 95%; /* Ajusta el ancho máximo */
    max-height: 95%; /* Ajusta la altura máxima */
    overflow: auto; /* Habilita el desplazamiento si el contenido es demasiado grande */
}

.close-button {
    position: absolute;
    top: 0.5rem; /* Ajusta la posición desde el borde superior */
    right: 0.5rem; /* Ajusta la posición desde el borde derecho */
}