
<meta charset="UTF-8">
<!--Encabezado-->
<!--<app-header></app-header>-->

<!--Formulario de perfil del usuario-->
<form  class="form_profile">
    <div>
        <label for="name_profile"></label>
        <input type="text" name="name_profile" id="name_profile" placeholder="Nombres" >
    </div>

    <div>
        <label for="last_name"></label>
        <input type="text" name="last_name" id="last_name" placeholder="Apellidos" >
    </div>

    <div>
        <label for="date_birth"></label>
        <input type="text" name="date_birth" id="date_birth" placeholder="Fecha de nacimiento">
    </div>

    <div>
        <label for="gender"></label><!--Sexo: femenino o masculino-->
        <input type="text" name="gender" id="gender" placeholder="Sexo" >
    </div>

    <div>
        <label for="email"></label>
        <input type="email" name="email" id="email" placeholder="E-mail" >
    </div>

    <div>
        <label for="mobile"></label>
        <input type="text" name="mobile" id="mobile" placeholder="Celular" >
    </div>

    <div>
        <label for="country"></label>
        <input type="text" name="country" id="country" placeholder="País" >
    </div>

    <div>
        <label for="municipality"></label>
        <input type="text" name="municipality" id="municipality" placeholder="Municipio" >
    </div>

    <div>
        <label for="address"></label>
        <input type="text" name="address" id="address" placeholder="Dirección de residencia" >
    </div>

    <div>
        <label for="neighborhood"></label> <!--neighborhood: barrio-->
        <input type="text" name="neighborhood" id="neighborhood" placeholder="Barrio" >
    </div>
    <button>Guardar</button>
</form>
    
<!--Pie de página-->
<!--<footer></footer>-->
