
<app-header></app-header>

<div class="container">
    <div *ngFor="let detalleProducto of listaProductos" class="card"> 
        <figure>
            <img class="image" src="{{detalleProducto.url}}" (click)="productDetail(detalleProducto)">
        </figure> 
        <div class="info">
            <h4>{{detalleProducto.title}}</h4>
            <p>$ {{detalleProducto.price}}</p>
            <button class="boton" (click)="addToCart(detalleProducto)">
                <!-- <i class="fa-solid fa-cart-plus"></i> -->
                añadir al carrito
            </button>
        </div>      
    </div>
</div>    

