<app-header></app-header>

<div class="body">
<div class="container-form">
    <div class="information">
        <div class="info-childs">
            <h2>Bienvenido</h2>
            <p>Si aun no tienes una cuenta por favor registrese aquí</p>
            <a routerLink="/registro">
                <button>Registrarme</button>
            </a>
        </div>
    </div>
    <div class="form-information">
        <div class="form-information-childs">
            <h2>Iniciar Sesion</h2>
            <p>Inicia Sesion con una cuenta</p>
            <form class="form">
                <label>
                    <i class='bx bx-envelope' ></i>
                    <input type="email" placeholder="Correo Electronico">
                </label>
                <label>
                    <i class='bx bx-lock-alt' ></i>
                    <input type="password" placeholder="Contraseña">
                </label>
                <button>Ingresar</button>
            </form>
        </div>
    </div>
</div>
</div>


