<header>
  <nav (scroll)="onscroll()" [ngClass]="{'navbarup':up,'navbardown':!up}">
    <a [ngClass]="{'logoup':up,'logodown':!up}" routerLink="/">CREATE SHOP</a>
    <!--Search-->
    
    <ul>

      <input aria-label="Search" type="search" placeholder="Buscar producto" data-ms-editor="true" class="form-control ms-auto input-search" (keyup.enter)="loadSearch()" [(ngModel)]="search"> <!--Keyup: Cuando se escribe algo escucha los cambios, es un metodo "loadProducts".-->
      <!--[(ngModel)]: Modelo de Angular-->

      &nbsp;<!--Espacios-->
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;

      <!-- Carrito -->
      <li class="cart">
        <!-- <div class="cart-items">
          <p>0</p>
        </div> -->
        <a [ngClass]="{'linkup':up,'linkdown':!up}" (click)="onToggleCart($event)">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
      </li>
      <!-- -- -->
      <li *ngIf="!isLoggedIn"><a [ngClass]="{'linkup':up,'linkdown':!up}" routerLink='auth/login'><i class="fa-solid fa-user"></i></a></li>
      <li *ngIf="isLoggedIn"><a [ngClass]="{'linkup':up,'linkdown':!up}">Hello {{username}}!</a></li>
      <li *ngIf="isLoggedIn"><a [ngClass]="{'linkup':up,'linkdown':!up}" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i></a></li>
      
      <!-- Editar perfil -->
      <li *ngIf="!isLoggedIn"><a [ngClass]="{'linkup':up,'linkdown':!up}" routerLink='auth/profile'><i class="fa-solid fa-user-pen"></i></a></li>

      <!--Barra de despliegue-->
      <li class="nav-item">
          <a routerLink="/products" class="link">All Products</a>
      </li><!--active: activar el button, disabled: button desactivado. -->
        
      <!--
      -->

    </ul>
  </nav>
  <div [ngClass]="{ 'show' : viewCart, 'cart-list':!viewCart}" >
    <app-cart></app-cart>
  </div>
</header>