<header>
  <nav (scroll)="onscroll()" [ngClass]="{'navbarup':up,'navbardown':!up}">

    <!-- logo -->
    <a [ngClass]="{'logoup':up,'logodown':!up}" routerLink="/">CREATE SHOP</a>

    <ul>
      <!--Search-->
      <input aria-label="Search" type="search" placeholder="Buscar producto" data-ms-editor="true" class="form-control ms-auto input-search" (keyup.enter)="loadSearch()" [(ngModel)]="search"> <!--Keyup: Cuando se escribe algo escucha los cambios, es un metodo "loadProducts".-->
      <!--[(ngModel)]: Modelo de Angular-->

      &nbsp;<!--Espacios-->
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;

      <!-- Carrito -->
      <li class="cart">
        <!-- <div class="cart-items">
          <p>0</p>
        </div> -->
        <a [ngClass]="{'linkup':up,'linkdown':!up}" (click)="onToggleCart($event)">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
      </li>
      <!-- -- -->
      <!-- routerLink='auth/login' -->
      <li *ngIf="!isLoggedIn"><a [ngClass]="{'linkup':up,'linkdown':!up}" (click)="loginpage()" ><i class="fa-solid fa-user"></i></a></li>
      <li *ngIf="isLoggedIn"><a [ngClass]="{'linkup':up,'linkdown':!up}">Hello {{username}}!</a></li>
      <li *ngIf="isLoggedIn"><a [ngClass]="{'linkup':up,'linkdown':!up}" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i></a></li>
      
      <!-- Editar perfil -->
      <li *ngIf="isLoggedIn"><a [ngClass]="{'linkup':up,'linkdown':!up}" routerLink='auth/profile'><i class="fa-solid fa-user-pen"></i></a></li>

      <!--Barra de despliegue-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span [ngClass]="{'linkup':up,'linkdown':!up}"><i class="fa-solid fa-bars"></i></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="d-flexbox justify-content-center">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/products" id="link">All products</a>
              </li><!--active: activar el button, disabled: button desactivado. -->
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="products/woman" value="mujer" >Mujer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="products/man" id="man" value="hombre">Hombre</a>
              </li>
            </ul>
          </div>
        </div>

      <!--
      -->

    </ul>
  </nav>
  <div [ngClass]="{ 'show' : viewCart, 'cart-list':!viewCart}" >
    <app-cart></app-cart>
  </div>
</header>