.title{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

/* .boton{
    background: #FF8D47;
    color: white;
    border-color: black;
    border-width: 1px 0px 1px 0px;
} */